<app-table *ngIf='!loading' [title]="title" [actions]="actions" [records]="employees" [header]="header"></app-table>
<mat-spinner *ngIf='loading'></mat-spinner>
<!-- <button class='fixedButton' mat-fab color='primary' aria-label=''> + </button> -->