<div class="header">
    <h1 class="title">
        Checking Bonus
    </h1>
</div>
<div class="search">
    <mat-form-field appearance="outline">
        <mat-label>Employee Code</mat-label>
        <input matInput placeholder="Employee Code" type="text" name='code' [(ngModel)]="employeeCode">
    </mat-form-field>
    
    <button mat-icon-button aria-label="" (click)=calculateBonus()>
        <mat-icon>search</mat-icon>
    </button>
</div>

<div *ngIf='bonus' class='bonus'>
    <h1>Your bonus is $ {{ bonus | number }}</h1>
</div>