@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.search {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.mat-form-field {
    width: 400px;
}

.header{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
}

.title {
    font-family: 'Raleway', sans-serif, bold;
    font-size: 32px;
}

.bonus {
    font-family: 'Raleway', sans-serif, bold;
    font-size: 35px;
    text-align: center;
}