<app-table *ngIf='!form && !loading' [title]="title" [actions]="actions" [records]="options" [header]="header"></app-table>
<div class='filter' *ngIf='!form && !loading'>
    <mat-form-field appearance="outline">
        <mat-label>Office</mat-label>
        <mat-select [(ngModel)]="office" name='office'>
            <mat-option *ngFor="let office of offices" [value]="office.name">{{ office.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <!-- <mat-form-field appearance="outline">
        <mat-label>Division</mat-label>
        <mat-select [(ngModel)]="division" name='division'>
            <mat-option *ngFor="let division of divisions" [value]="division.name">{{ division.name }}</mat-option>
        </mat-select>
    </mat-form-field> -->
    
    <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <mat-select [(ngModel)]="position" name='position'>
            <mat-option *ngFor="let position of positions" [value]="position.name">{{ position.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Grade</mat-label>
        <input matInput placeholder="Grade" type="text" name='grade' [(ngModel)]="grade">
    </mat-form-field>
    
    <button mat-icon-button aria-label="" (click)=filter()>
        <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button aria-label="" (click)=clear()>
    <mat-icon>close</mat-icon>
    </button>
</div>


<app-form *ngIf='form' [employees]='employees' [positions]='positions' [divisions]='divisions' [offices]='offices' (closeEvent)='closeForm($event)' (reloadEvent)='fetchData()'></app-form>
<mat-spinner *ngIf='loading'></mat-spinner>

<button *ngIf='!form && !loading' class='fixedButton' mat-fab color='primary' aria-label='' (click)='showForm()'> + </button>