<mat-toolbar color='primary'>
    <button class='toggle' mat-icon-button (click)='onToolbarMenuToggle()'>
        <mat-icon class='icon'>menu</mat-icon>
    </button>
    V8 - Test Application
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode='side' #sidenav id='sidenav' opened>
        <mat-list [ngStyle]="{ 'width.px': pxMeasure }">
            <mat-list-item class='list-items'>
                <button *ngIf='pxMeasure == 240' class='menu-item' mat-flat-button [routerLink]='["/"]' ><mat-icon class='icon-item'>home</mat-icon><span>Home</span></button>
                <button *ngIf='pxMeasure == 70' class="menu-item-compress" mat-flat-button [routerLink]='["/"]'><mat-icon class='icon-item'>home</mat-icon></button>
            </mat-list-item>
            <mat-list-item>
                <button *ngIf='pxMeasure == 240' class='menu-item' mat-flat-button [routerLink]='["/employee"]' ><mat-icon class='icon-item'>contacts</mat-icon><span>Employee</span></button>
                <button *ngIf='pxMeasure == 70' class="menu-item-compress" mat-flat-button [routerLink]='["/employee"]'><mat-icon class='icon-item'>contacts</mat-icon></button>
            </mat-list-item>
            <mat-list-item>
                <button *ngIf='pxMeasure == 240' class='menu-item' mat-flat-button [routerLink]='["/salary"]' ><mat-icon class='icon-item'>attach_money</mat-icon><span>Salary</span></button>
                <button *ngIf='pxMeasure == 70' class="menu-item-compress" mat-flat-button [routerLink]='["/salary"]'><mat-icon class='icon-item'>attach_money</mat-icon></button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': pxMeasure }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>