@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.screen { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

.colum {
    display: inline-block;
}

.form {
    text-align: center;
}

.img_background {
    position: fixed;
}

.card {
    border: 0.5px solid lightgrey;
    background-color: #fff;
    text-align: center;
    width: 80%;
    margin-left: 8%;
    padding: 30px;
    z-index: 1000; 
}

.header{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
}

.title {
    /* width: 100%; */
    font-family: 'Raleway', sans-serif, bold;
    font-size: 32px;
    /* margin: 0;
    color: #FF6C65; */
}

.subtitle {
    width: 100%;
    font-family: 'Arial', bold !important;
    font-size: 25px;
    margin-bottom: 0;
}

.mat-form-field { 
    width: 200px;
    margin-right: 10px;
}

.remember {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.remember_checkbox { 
    color: grey;
    text-indent: 15px;
}

.mat-flat-button {
    width: 30%;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    margin-right: 15px;
    text-transform: uppercase;
}

.error {
    margin-top: 20px;
    width: 50%;
    background-color: #FF6C65;
    color: white;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.new-admin {
    margin-top: 20px;
    width: 90%;
    text-align: right;
}