<!-- <div class="screen">
    <div class="card"> -->
        <div class="header">
            <h1 class="title">
                Salary Upload
            </h1>
        </div>
        <div class="form">
            <form #form="ngForm">
                <mat-form-field style="width: 400px;" appearance="outline">
                    <mat-label>Employee</mat-label>
                    <input
                           placeholder="Employee"
                           aria-label=""
                           matInput
                           [formControl]="employeeName"
                           [matAutocomplete]="auto"
                           type="text">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                        <mat-option *ngFor="let option of filteredOptions | async" [value]='option.employeeName' (click)='assignEmployee(option)'>
                            {{ option.employeeName }} {{ option.employeeSurname }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <br>

                <mat-checkbox name="checked" [(ngModel)]="checked" (click)='cleanInfo()'>Complete Basic Information</mat-checkbox>
                <br>
                
                <div *ngIf='checked'>
                    <mat-form-field appearance="outline">
                        <mat-label>Office</mat-label>
                        <mat-select [(ngModel)]="officeName" name='office'>
                            <mat-option *ngFor="let office of offices" [value]="office.name" (click)='assignOffice(office)'>{{ office.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Division</mat-label>
                        <mat-select [(ngModel)]="divisionName" name='division'>
                            <mat-option *ngFor="let division of divisions" [value]="division.name" (click)='assignDivision(division)'>{{ division.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Position</mat-label>
                        <mat-select [(ngModel)]="positionName" name='position'>
                            <mat-option *ngFor="let position of positions" [value]="position.name" (click)='assignPosition(position)'>{{ position.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Begin Date</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]='beginDate' name='beginName'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>

                <div style="width: 90%; margin-bottom: 20px; text-align: right;">
                    <button mat-button color='accent' (click)='addRecord()'> Agregar </button>
                </div>

                <mat-card *ngFor="let record of records; let i = index"
                    style="justify-content: center; text-align: center; width: 80%; margin-bottom: 5px; margin-left: 100px;">
    
                    <div class="" style='width: 100%; text-align: right;'>
                        <button mat-button (click)='removeRecord(record, i)'>
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
    
                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <mat-label>Month</mat-label>
                            <mat-select [(ngModel)]="record.month" name='month_{{i}}'>
                                <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <mat-label>Year</mat-label>
                            <mat-select [(ngModel)]="record.year" name='year_{{i}}'>
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Grade" type="text" name='grade_{{i}}'
                                [(ngModel)]="record.grade">
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Base Salary" type="text" name='baseSalary_{{i}}'
                                [(ngModel)]="record.baseSalary">
                        </mat-form-field>
                    </div>

                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Production Bonus" type="text" name='productionBonus_{{i}}'
                                [(ngModel)]="record.productionBonus">
                        </mat-form-field>
                    </div>

                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Compensation Bonus" type="text" name='compensationBonus_{{i}}'
                                [(ngModel)]="record.compensationBonus">
                        </mat-form-field>
                    </div>

                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Commission" type="text" name='commision_{{i}}'
                                [(ngModel)]="record.commision">
                        </mat-form-field>
                    </div>

                    <div class="col-md-2 colum">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Contributions" type="text" name='contributions_{{i}}'
                                [(ngModel)]="record.contributions">
                        </mat-form-field>
                    </div>
                </mat-card>
            </form>
        </div>
        <div style="width: 100%; text-align: center;">
            <button mat-flat-button color='warn' (click)='cancel();'>Cancel</button>
            <button mat-flat-button color='primary' (click)='addSalary();'>Add Records</button>
        </div>
        <div style="width: 100%; display: flex; justify-content: center;">
            <mat-card *ngIf='error' class="error">{{ error }}</mat-card>
        </div>
<!--     </div>
</div> -->